#container {
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#gameScreen {
    display: flex;
    justify-content: center;
    background-color: rgb(247, 244, 244);
}

#checkChoice {
    font-size: 1.2rem;
    position: fixed;
    top: 0;
    padding: 5px;
    box-shadow: 1px 1px 7px black;
    background-color: cornflowerblue;
    color: whitesmoke;
}

#modal {
    position: fixed;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 100%;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.219);
}

#submitBox {
    background-color: cornflowerblue;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px black;
}

#timer {
    font-size: 1rem;
    margin: 0;
    padding-left: 10px;
    position: sticky;
    bottom: 0;
    background-color: cornflowerblue;
}

#leaderboard {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    width: 50%;
    overflow: scroll;
    border: solid 5px rgb(209, 209, 209);
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
    margin: auto;
    margin-top: 50px;
    background-color: rgba(221, 221, 221, 0.527);
}

h3 {
    margin: 0;
    font-size: 1rem;
}